<form method="POST" action="/tools">
    <label for="toolsType">Type</label>
    <input id="toolsType" type="text" name="type">

    <label for="toolsName">Name</label>
    <input id="toolsName" type="text" name="name">

    <input type="submit">
  </form>